#interactive {
  width: 100vw;
  height: 50vh;
}
#interactive video {
  position: absolute;
  top: 30;
  left: 0;
  width: 100vw;
}
#interactive .drawingBuffer {
  position: absolute;
  top: 30;
  left: 0;
  z-index: 100;
  width: 100vw;
}

#scan-area{
  width:100%;
  margin: 10px auto;
}

.scanImg {
  margin: 10px auto;
}

.attacked{
  animation: wiggle 1s ease;
}

@keyframes wiggle {
  0% { transform:rotate(0deg) }
  30% { transform:rotate(20deg) }
  60% { transform:rotate(-20deg) }
  100% { transform:rotate(0deg) }
}
